<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Team</title>
  <link rel="stylesheet" href="/css/infoStyle.css">
</head>

<body>
  <section>
    <article>
      <h2>TEAM</h2>
      <ul>
        <li>
          <h5>Peddakotla Mohit Sai Krishna</h5>
        </li>
        <li>19BCE0431</li>
        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae animi unde, vero dolorem illo quisquam ad ea corrupti provident corporis!</li>
      </ul>
      <ul>
        <li>
          <h5>KAIPU SURYA PRATHAP REDDY</h5>
        </li>
        <li>19BCE0211</li>
        <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi rerum pariatur asperiores beatae ex blanditiis totam excepturi consequuntur accusantium doloremque!</li>
      </ul>
      <ul>
        <li>
          <h5>G.G.S.S Devesh</h5>
        </li>
        <li>19BCE0427</li>
        <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat inventore quas recusandae excepturi dolores temporibus perspiciatis neque voluptas repellendus ipsum.</li>
      </ul>

    </article>
  </section>
